params {
	module_path = '.'
	out_dir = './results/'
	bqc_path = ''
	publish_mode = 'copy'
	genome = ''
	target_bed = ''

	bsconv_filter = 0.1

	ref = [
		hg38: '/path/to/human/ref.fa',
		mm39: '/path/to/mouse/ref.fa'
	]

	bqc_assets = [
		hg38: '/path/to/human/bqc_assets/',
		mm39: '/path/to/mouse/bqc_assets/'
	]
}

executor {
	name = "pbs"
}

singularity {
	enabled = true
	autoMounts = true
}

process {
	cpus = 1
	queue = { new Random().nextFloat() > 0.5 ? "shortq" : "laird"}
	submitRateLimit = '2/sec'

	withName: fastqc {
		publishDir = [
			path: "${params.out_dir}/qc/fastqc/",
			mode: params.publish_mode,
			pattern: "*.html",
			saveAs: {"${tag}/"+it}
		]
		container = "https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1"
	}
	withName: multiqc {
		publishDir = [
			path: "${params.out_dir}/qc/",
			mode: params.publish_mode
		]
		container = "https://depot.galaxyproject.org/singularity/multiqc:1.12--pyhdfd78af_0"
	}
	withName: trim {
		cpus = 4
		time = "72h"
		container = "https://depot.galaxyproject.org/singularity/cutadapt:4.1--py39hbf8eff0_0"
	}
	withName: align {
		cpus = 14
		time = "72h"
		queue = { new Random().nextFloat() > 0.5 ? "longq" : "laird" }
		container = "https://depot.galaxyproject.org/singularity/mulled-v2-db16f1c237a26ea9245cf9924f858974ff321d6e:17fa66297f088a1bc7560b7b90dc273bf23f2d8c-0"
		// container = "https://depot.galaxyproject.org/singularity/mulled-v2-e71d7ae293e615c6273e60708d1d68c55201618d:f15c35055ea880a6b8a0299193726248b0dc040c-0"
	}
	withName: index {
		cpus = 4
		container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
		publishDir = [
			path: { "${params.out_dir}/bams/${tag}/" },
			mode: params.publish_mode
		]
	}
	withName: bsconv {
		container = "https://depot.galaxyproject.org/singularity/biscuit:1.0.2.20220113--he272189_1"
	}
	withName: pileup {
		cpus = 4
		container = "https://depot.galaxyproject.org/singularity/mulled-v2-db16f1c237a26ea9245cf9924f858974ff321d6e:17fa66297f088a1bc7560b7b90dc273bf23f2d8c-0"
		// container = "https://depot.galaxyproject.org/singularity/mulled-v2-e71d7ae293e615c6273e60708d1d68c55201618d:f15c35055ea880a6b8a0299193726248b0dc040c-0"
	}
	withName: biscuit_qc {
		cpus = 5
		time = "72h"
		publishDir = [ 
			path: "${params.out_dir}/qc/biscuit_qc/",
			mode: params.publish_mode
			]
		conda = '/varidata/research/projects/laird/nathan/tools/miniconda3/envs/seq_qc/'
		// container = "https://depot.galaxyproject.org/singularity/mulled-v2-e71d7ae293e615c6273e60708d1d68c55201618d:f15c35055ea880a6b8a0299193726248b0dc040c-0"
	}
	withName: filter_bam {
		time = '72h'
		container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
	}
	withName: tabix_vcf {
		time = '72h'
		publishDir = [ 
			path: "${params.out_dir}/vcfs/",
			mode: params.publish_mode
			]
		container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
	}
	withName: vcf2bed {
		container = "https://depot.galaxyproject.org/singularity/mulled-v2-db16f1c237a26ea9245cf9924f858974ff321d6e:17fa66297f088a1bc7560b7b90dc273bf23f2d8c-0"
	}
	withName: tabix_bed {
		container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
	}
	withName: mergecg {
		container = "https://depot.galaxyproject.org/singularity/mulled-v2-db16f1c237a26ea9245cf9924f858974ff321d6e:17fa66297f088a1bc7560b7b90dc273bf23f2d8c-0"
		publishDir = [ 
			path: "${params.out_dir}/beds/filtered/",
			mode: params.publish_mode
			]
	}
	withName: biscuiteer {
		errorStrategy = "ignore"
		container = "https://depot.galaxyproject.org/singularity/bioconductor-biscuiteer:1.8.0--r41hdfd78af_0"
		publishDir = [ 
			path: "${params.out_dir}/rds_objs/",
			mode: params.publish_mode
			]
	}
	withName: preseq {
		errorStrategy = { task.attempt < 3 ? "retry" : "ignore" }
		publishDir = [ 
			path: "${params.out_dir}/qc/preseq/",
			mode: params.publish_mode
			]
		container = "https://depot.galaxyproject.org/singularity/preseq:3.1.2--h2c25361_3"
	}
	withName: stats {
		publishDir = [ 
			path: "${params.out_dir}/qc/samtools_stats/",
			mode: params.publish_mode
			]
		container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
	}
	withName: bamtobed {
		container = "https://depot.galaxyproject.org/singularity/bedtools:2.30.0--h468198e_3"
	}
}
